<!DOCTYPE html>
<html>
<title>Ultron:The Child Learning App.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">

<head>
  <style>
    h1 {
      font-weight: bold;
    }
  </style>
</head>

<body>

  <div class="row">
  <div class="column" style="padding: 20px;">
    <div class="card-2" style="width: 28%;">
      <a href="alphabets.html"><input class="user" type="image" src="img/1.jpg" alt="Submit" width="80%"
          height="80%"></a>
      <h1>A to Z</h1>
    </div>
  </div>

  <div class="column" style="padding: 20px;">
    <div class="card-2" style="width: 28%;">
      <a href="#.html"><input class="user" type="image" src="img/13.png" alt="Submit" width="80%" height="80%"></a>
      <h1>1 to 10</h1>
    </div>
  </div>

  <div class="column" style="padding: 20px;">
    <div class="card-2" style="width: 28%;">
      <a href="#.html"><input class="user" type="image" src="img/c.jpg" alt="Submit" width="80%" height="80%"></a>
      <h1>COLORS</h1>
    </div>
  </div>

  <div class="column" style="padding: 20px;">
    <div class="card-2" style="width: 28%;">
      <a href="#.html"><input class="user" type="image" src="img/s.png" alt="Submit" width="80%" height="80%"></a>
      <h1>SHAPES</h1>
    </div>
  </div>
</div>

</body>

</html>