
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/mul.css' %}">
 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Open+Sans&display=swap" rel="stylesheet"> 
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/U.png' %}" type="image/png">
        <title>Ultron: The Learning App</title>
        <!-- Bootstrap CSS -->
		        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/popup/magnific-popup.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>




<body>
<header class="header_area">
           	<div class="top_menu row m0"  style="background-color: lightblue">
           		<div class="container-fluid">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook" style="color: blue"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" style="color: blue"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble" style="color: blue"></i></a></li>
							<li><a href="#"><i class="fa fa-behance" style="color: blue"></i></a></li>
						</ul>
					</div>
					{% comment %} <div class="float-right my-1" >
						<form class="input-group d-flex flex-row" action="/action_page.php">
						<input class="form-control mx-1" type="text" placeholder="Username" name="username">
						<input class="form-control "type="password" placeholder="Password" name="psw">
						<button class="btn btn-success mx-1" type="submit">Login</button>
						<button class="btn btn-success mx-1" type="submit">Register</button>
						</form>
					</div> {% endcomment %}
           		</div>	
           	</div>	
            <div class="main_menu">
            		<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="#"><img src="{% static 'img/logo1.jpeg' %}" alt="" width="70px" height="70px"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li> 
								{% comment %} <li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="courses.html">Courses</a>
										<li class="nav-item"><a class="nav-link" href="course-details.html">Course Details</a></li>
									</ul>
								</li>  {% endcomment %}
								{% comment %} <li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li>  {% endcomment %}
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'single_blog' %}">Blog Details</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'reg' %}">Register</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
<section>

    <h1>KIDS MULIPLICATION QUIZ :)</h1>
    <div  class="centerdiv">
        <div  class="insertBox">
            <div  class="box1">
                <input type="text" id="v1">
            </div>
            <div  class="box1">
                <p>x</p>
            </div>
            <div  class="box1">
                <input type="text" id="v2">
            </div>
        </div>

            <div  class="middleBox">
                <input type="text" id="answ">
            </div>

            <div  class="sentBox">
                <button class="btn btn-primary" onclick="jsGame()">Check Answer</button>
            </div>
            
            <div style="margin:1em 1em 1em 1em;font-size: 20px;color: black;" id="hint1"></div>
    </div>
</section>
</body>



     <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <!--gmaps Js-->
        <script src="{% static 'js/map.js' %}"></script>
        <script src="{% static 'js/gmaps.min.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="{% static 'js/mul.js' %}"></script>
</html>
{% endblock %}