span{
    font-size:30px;
    cursor:pointer;
    color: black;
}

#canvas
{
    border: 3px solid black;
    margin: 10px 40px 10px 0px;
    cursor: pointer;
    float: right;
}
#colors button
{
    width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-top: 0px;
}#black 
{
    background: black;
}
#pink 
{
    background: pink;
}
#purple 
{
    background: purple;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
}
#orange 
{
    background: orange;
}
#gray 
{
    background: gray;
}
#brown 
{
    background:brown;
}
#yellow 
{
    background: yellow;
}
#lightblue 
{
    background: lightblue;
}
#lightgreen 
{
    background: lightgreen;
}
#white 
{
    background: white;
}
#darkred
{
    background: darkcyan;
}


.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 100px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: blue;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

  @media only screen and (max-width: 600px) {
    span{
        font-size:20px;
        cursor:pointer;
        color: black;
    }
    
    #canvas
    {
        border: 1px solid black;
        margin: 10px 22px 10px 1px;
        cursor: pointer;
        float: right;
        width: 310px;
        height: 400px;
    }
    #colors button
    {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-top: 0px;
    }
    .p-3 {
        padding: 1rem !important;
    }
    .ml-3, .mx-3 {
        margin-left: 2rem !important;
    }
    .mr-3, .mx-3 {
        margin-right: 2rem !important;
    }
    .w-25 {
        width: 80% !important;
    }
    .bg-info {
        background-color: #17a2b8 !important;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    


.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 120px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: whitesmoke;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }

  .sidenav h1{
      font-size: 25px;
  }

  .ml-5, .mx-5 {
    margin-left: 9rem !important;
}
.mr-5, .mx-5 {
    margin-right: 8rem !important;
}
  }